node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
*.log

dist/
dist-ssr/
*.local

.env
.env.local
.env.*.local

.DS_Store
Thumbs.db
.vscode/*
!.vscode/extensions.json
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# dashboard/public/cleaned_long_format.csv
Datos/

# El JSON debe subirse a Git porque es la base de datos pre-calculada
# backend/data/store_data.json

# n8n (no longer used)
n8n/
